h1, h2, h3, h4, h5, h6, a, p {
  color: #101010; }

@font-face {
  font-family: 'visby-semibold';
  src: url("/assets/fonts/VisbyCF-DemiBold.otf"); }

@font-face {
  font-family: 'visby-medium';
  src: url("/assets/fonts/VisbyCF-Medium.otf"); }

body {
  font-family: 'visby-semibold'; }

h1, .h1 {
  font-family: 'visby-semibold';
  font-size: 56px;
  line-height: 1.14; }

h2, .h2 {
  font-size: 40px; }

.medium-text {
  font-size: 18px;
  font-weight: 400;
  font-family: 'visby-medium'; }

.base-text {
  font-size: 16px; }

.small-text {
  font-size: 14px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --swiper-navigation-size: 15px;
  --swiper-theme-color: #101010;
  --swiper-pagination-bullet-inactive-color: #50248F;
  --swiper-pagination-color: #50248F; }

.autoplay-progress {
  z-index: 10;
  width: 40px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color); }

.autoplay-progress svg {
  --progress: 0;
  position: static;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg); }

.banner__slider-controls {
  background-color: #FFFFFFFF;
  width: 175px;
  height: 40px;
  z-index: 99;
  font-size: 0;
  border: 2px solid #E9E9E9;
  border-radius: 8px;
  bottom: 0px; }

.banner .swiper-button-prev,
.banner .swiper-button-next,
.banner .swiper-pagination {
  position: static;
  margin: 0;
  width: fit-content; }

.banner .swiper-pagination {
  margin-inline: auto; }

.banner .swiper-button-next,
.banner .swiper-button-prev {
  width: 40px;
  border-right: 1px solid #E9E9E9;
  height: 100%; }

.banner .swiper-button-next {
  border-left: 1px solid #E9E9E9; }

.banner .swiper-pagination-bullet {
  opacity: 0.5; }

.banner .swiper-pagination-bullet-active {
  opacity: 1; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

button {
  all: unset;
  appearance: none; }

.brand {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none; }

.translate-x-center {
  left: 50%;
  transform: translateX(-50%); }

.flex-vertically-center {
  display: flex;
  align-items: center; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.container {
  width: 100%;
  max-width: calc(1200px + 50px);
  margin-inline: auto; }

.btn {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  background-color: #101010;
  color: #FFFFFFFF;
  border-radius: 50px;
  padding: 10px 24px;
  line-height: 1.2; }

.btn--large {
  padding-inline: 40px; }

.btn--secondary {
  background-color: #FFFFFFFF;
  color: #101010; }

ul[role="navigation"] {
  display: flex;
  list-style: none;
  gap: 32px; }
  ul[role="navigation"] a {
    text-decoration: none;
    text-transform: uppercase; }

.header {
  padding-block: 12px; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__icons {
    display: flex;
    align-items: center;
    gap: 24px;
    order: 3; }
  .header--logo-center .brand {
    order: 2; }

.banner .swiper-slide {
  background-color: #ECECEC;
  padding-block: 148px;
  height: auto; }

.banner__slider {
  padding-bottom: 20px; }

.banner h1, .banner p {
  max-width: 650px;
  margin-bottom: 24px; }
