.article-card {
  position: relative;

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__link:hover + &__img img {
    transform: scale(1.1);
  }

  &__img {
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    padding-top: 86%;

    img {
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  &__text {
    gap: 8px;

    p {
      color: var(--color__disabled);
      line-height: 1.6;
    }
  }

  .article-card__info {
    font-size: 14px;
    font-weight: bold;
    color: var(--color__primary);

    time {
      color: var(--color__disabled);
    }
  }
}