.badge {
  background-color: var(--color__primary);
  color: var(--color__white);
  padding: 2px 12px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--font__headings);
  border-radius: 50px;
}