.main-navigation {
  display: none;
  list-style: none;
  gap: 10px 32px;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font__headings);
  }

  @media (--ml) {
    display: flex;
  }

  &.footer-navigation {
    display: flex;
  }
}