.quantity-selector {
  &__wrapper {
    border: 1px solid var(--color__border);
    width: 110px;
    display: flex;
    margin-top: 8px;
    gap: 5px;
    padding: 10px 12px;

    input {
      border: none;
      outline: none;
      width: 40px;
      text-align: center;

      &:focus-visible {
       border: 1px solid var(--color-primary);
      }
    }

    button {
      width: 24px;
      height: 24px;

      &:focus-visible {
        border: 1px solid var(--color-primary);
      }
    }
  }
}