.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-no-wrap { flex-wrap: nowrap; }

.align-start { align-items: flex-start; }
.align-end { align-items: flex-end }
.align-center { align-items: center; }

.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }

.flex-direction-column { flex-direction: column; }
.flex-direction-row-reverse { flex-direction: row-reverse; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}