
@import 'alignments';
@import 'z-index';
@import 'grid';

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.brand {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.translate-x-center {
  left: 50%;
  transform: translateX(-50%);
}

.flex-vertically-center {
  display: flex;
  align-items: center;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.medium-text {
  font-size: 18px;
  font-weight: 400;
  font-family: 'visby-medium';
}

.base-text {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}