.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.brand {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.translate-x-center {
  left: 50%;
  transform: translateX(-50%);
}

.flex-vertically-center {
  display: flex;
  align-items: center;
}

.background-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.seaction-title {
  margin-bottom: 8px;
}

.text-decoration-none {
  text-decoration: none;
}

.d-none {
  display: none;
}