@font-face {
  font-family: 'visby-semibold';
  src: url('/assets/fonts/VisbyCF-DemiBold.otf');
}

@font-face {
  font-family: 'visby-medium';
  src: url('/assets/fonts/VisbyCF-Medium.otf');
}

@font-face {
  font-family: 'visby-regular';
  src: url('/assets/fonts/VisbyCF-Regular.otf');
}