.btn {
  color: inherit;
  text-align: none;
  display: inline-block;
  background-color: $color-primary;
  color: $color-secondary;
  border-radius: 50%;
  padding: 10px 24px;
}

.btn--large {
  padding-inline: 40px;
}

.btn--secondary {
  background-color: $color-secondary;
  color: $color-primary;
}