$color-primary: #101010;
$color-secondary: #50248F;
$color-white: #FFFFFFFF;
$color-border: #E9E9E9;
$color-placeholder: #ECECEC;
$color-product-background: #FAFAFA;

h1, h2, h3, h4, h5, h6, a, p { color: $color-primary; }