.banner {
  .swiper-slide {
    background-color: var(--color__placeholder);
    padding-block: 148px;
    height: auto;
  }

  &__slider {
    --swiper-navigation-size: 15px;
    padding-bottom: 20px;
  }

  h1, p {
    max-width: 650px;
    margin-bottom: 24px;
  }

  .autoplay-progress {
    position: relative;
  }

  .play-pause {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    cursor: pointer;
    
    &__pause {
      &:before, &:after {
        display: block;
        width: 33%;
        content: "";
        background-color: var(--color__primary);
        height: 100%;
        position: absolute;
      }
      
      &:before {
        left: 0;
        top: 0;
      }
      
      &:after {
        right: 0;
        top: 0;
      }
    }
    
    &__play {
      &:before {
        content: "";
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid var(--color__primary);
      }
    }
  }
}
