.banner {
  .swiper-slide {
    background-color: var(--color__placeholder);
    padding-block: 148px;
    height: auto;
  }

  &__slider {
    padding-bottom: 20px;
  }

  h1, p {
    max-width: 650px;
    margin-bottom: 24px;
  }
}
