.countdown {

  .container {
    display: flex;
    gap: 20px 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (--ml) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__image {
    background-color: var(--color__placeholder);
    flex-basis: 600px;
  }

  &__content {
    flex-basis: 485px;
    gap: 40px;
    align-items: center;
    text-align: center;

    @media (--ml) {
      text-align: left;
      align-items: flex-start;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    @media (--xs) {
      gap: 24px;
    }

    .h1 {
      font-size: 16px;

      @media (--xxs) {
        font-size: 24px;
      }

      @media (--xs) {
        font-size: 56px;
      }
    }
  }

  &__item {
    width: 65px;

    @media (--xxs) {
      width: 80px;
    }

    @media (--xs) {
      width: 100px;
    }
  }
}