.featured {
  margin-block: 120px;

  &__header {
    margin-bottom: 32px;
    gap: 32px;

    &-content {
      width: 80%;
    }
  }

  .row {
    --gap-between-items: 32px;
    --items-per-row: 1;

    @media (--xxs) {
      --gap-between-items: 50px;
      --items-per-row: 2;
    }

    @media (--m) {
      --gap-between-items: 32px;
      --items-per-row: 4;
    }
  }

  &__item {
    &-img-wrapper {
      --absolute-items-inset: 8px;
      background-color: var(--color__product-background);
      margin-bottom: 16px;
      overflow: hidden;
      position: relative;
      padding-top: 138%;
    }

   &-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   }

    del {
      color: var(--color__disabled);
    }

    .badge {
      top: var(--absolute-items-inset);
      right: var(--absolute-items-inset);
    }

    .btn--fav {
      top: var(--absolute-items-inset);
      left: var(--absolute-items-inset);
    }

    .btn--cart {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.featured--header-w-btn {
    .featured__all-btn {
      flex-shrink: 0;
    }

    .featured__header {
      margin-bottom: 48px;
      justify-content: space-between;

      @media (--s) {
        text-align: left;
        flex-direction: row;
      }
    }
  }


  &:not(.featured--header-w-btn) .featured__all-btn {
    margin-top: 32px;
    display: block;
    width: fit-content;
    margin-inline: auto;
  }
}