.header {
  padding-block: 12px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
    order: 3;
  }

  .header__add-to-cart {
    gap: 5px;

    span {
      background-color: var(--color__primary);
      color: var(--color__white);
      border-radius: 50%;
      width: 24px;
      height: 24px;
      font-size: 12px;
    }
  }
}
