@import '../components/article-card';

.latest-articles {
  margin-block: 120px;

  .row {
    --items-per-row: 1;
    --gap-between-items: 32px;
    margin-top: 32px;

    @media (--xs) {
      --items-per-row: 2;
    }

    @media (--s) {
      --items-per-row: 3;
    }
  }
}