@import '../components/quantity-selector';
@import '../components/color-swatches';
@import '../components/product-sizes';

.main-product {

  @media (--s) {
    height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  &__media-wrapper {
    .swiper-wrapper {
      @media (--s) {
        display: grid;
        gap: 6px;
        grid-template-columns: 1fr;
      }

      @media (--l) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__media {
    background-color: var(--color__placeholder);
    padding-top: 100%;
  }

  &__content {
    padding: 20px;

    @media (--s) {
      padding: 48px;
    }
  }

  &__inner {
    max-width: 590px;
    
    @media (--s) {
      position: sticky;
      top: 20px;
      padding-right: 25px;
    }
  }

  .quantity-selector {
    margin-top: 20px;
  }

  &__buttons {
    margin-top: 20px;
    gap: 12px;

    .btn {
      width: 100%;
    }
  }

  &__stock {
    margin-top: 32px;

    label {
      color: var(--color__disabled);
      font-size: 14px;
      line-height: 1.7;

      b {
        color: var(--color__primary);
      }
    }

    progress {
      width: 100%;
      accent-color: var(--color__secondary);
    }
  }

  &__dropdowns {
    margin-top: 32px;

    details {
      summary {
        padding-block: 16px;
        background-image: url('/assets/icons/icon-dropdown.png');
        background-repeat: no-repeat;
        background-position: right center;
        border-bottom: 1px solid var(--color__border);
        cursor: pointer;
        list-style: none;
        margin-bottom: 10px;
      }
    }
  }
}