.testimonial {
  &__slider {
    margin-top: 32px;
    padding-bottom: 32px;
  }

  &__ratings {
    list-style-type: none;
    margin-inline: auto;
  }

  .swiper-slide {
    padding: 32px 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .swiper-slide + .swiper-slide:not(.swiper-slide-active) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0px;
      height: 100%;
      width: 1px;
      background-image: linear-gradient(180deg, rgba(182, 182, 182, 0) 0%, #B6B6B6 50%, rgba(182, 182, 182, 0) 100%);
    }
  }

  cite {
    margin-top: 16px;
    display: block;
  }
}